.header {
  height: 9vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image: linear-gradient(
    to right top,
    #ff1493,
    #d7117c,
    #b00d66,
    #8a0950,
    #67063b
  );
  font-family: Ink Free;
  font-weight: bold;
  text-shadow: 0.7px 0.7px 0.7px #400808;
}
/* 
.logo {
  height: 7vh;
  margin-top: 1vh;
  border-radius: 50%;
} */

a {
  text-decoration: none;
  color: #fff;
}
a:hover,
a.active,
a:active {
  text-decoration: underline;
  color: #fff;
}

/* .header:hover,
.header:active,
.header.active {
  text-decoration: none;
  color: #cdcdcd;
} */
/* .items {
  display: flex;
  margin-right: 2rem;
} */

@media only screen and (max-width: 740px) {
  .header {
    min-height: 7rem;
    display: flex;
    flex-direction: column;
  }
}
